body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu {
    margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #45a049;
}

#game {
    margin-top: 50px;
}

#game p {
    font-size: 18px;
    margin: 10px 0;
}

#buildings {
    margin-top: 30px;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
